/* layouts */
/* primary colour: #ff8676
secondary colour: #37718E
dark colour: #160F29
light colour: #FFF1F0 */

main {
    max-height: 90vh;
    overflow-y: scroll;
    margin-top: 80px;
}

#navbar {
    background-color:#160F29;
    display: flex;
    padding: 0 30px;
    align-items: center;
    flex-wrap: wrap;
    position:fixed;
    top: 0;
    width: 100%
}

.brand {
    padding: 4px 0;
}

.title {
    font-family: "Aclonica";
}

.body {
    font-family: "Poiret One";
}

.nav-brand {
    text-decoration: none;
    font-family: "Aclonica";
    font-size: 30px;
    color: #FFF1F0;
    padding: 4px 0;
    transition: all ease-in-out 0.3s;

}

.nav-brand:hover {
    color: #FFF1F0;
    transform:scaleX(1.1);
    transition: all ease-in-out 0.3s;
}

#navbar div {
    margin: 0 10px;
    height: 100%;
    display:flex;
    flex-wrap: nowrap;
}

.nav-i {
    font-family: "Poiret One";
    font-size: 18px;
    color: white;
    padding: 4px 10px;
    text-decoration: none;
}

.nav-i:hover {
    color: #160F29;
}

.nav-con {
    transition: all ease-in-out 0.3s;
    height: 100%;
    padding: 15px;
}

.nav-con:hover {
    transform: scaleX(1.2);
    background-color: #FF8676;
    color: black;
    transition: all ease-in-out 0.3s;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #160F29;
}

footer a{
    text-decoration:none;
    color: #FFF1F0;
    font-size: 12px;
    padding: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

body {
    background-color: #FFF1F0;
    margin:0px;
}

.btn-primary {
    background-color: transparent;
    border: 2px solid #160F29;
    color: #160F29;
    padding: 15px;
    border-radius: 30px;
    font-family: 'Aclonica';
    box-shadow: #bfbfbf 0px 0px 8px 2px;
    transition: all ease-in-out 0.3s;
    margin: 15px 5px;
}

.btn-primary:hover {
    background-color: #160F29;
    color: white;
    transform: scale(1.1, 1.1);
    transition: all ease-in-out 0.3s;
}

.btn-primary:focus {
    outline: 2px solid #FFF1F0;
}

.btn-primary:disabled,
.btn-primary[disabled] {
    background-color: #dfdfdf;
    border: 2px solid #160F29;
    color: #160F29;
    padding: 15px;
    border-radius: 30px;
    font-family: 'Aclonica';
    margin: 15px 5px;
    box-shadow: none;
}

/* forms */
#landing {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: rgba(255,255,255,0.8);
    padding: 30px;
    border-radius: 30px;
    position: fixed;
    right: 150px;
    margin-left: 100px;
    top: 114px;
    bottom: 95px;
    justify-content: center;
    overflow: scroll;
}

#landing div {
    margin-bottom: 20px;
    font-family: 'Poiret One';
    font-size: 2.3rem;
}

#landing-img {
    height: 95%;
    position: fixed;
    z-index: -1;
    bottom: -10px;
    left: 100px;
}

#landing a {
    text-decoration: none;
    text-align: center;
}

/* apology */
#apology {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#apology img {
    max-width: 70vw;
    max-height: 80vh;
}

#apology h2 {
    text-align: center;
    font-family: 'Aclonica';
}

/* forms */
form {
    padding: 30px;
    background-color: white;
    box-shadow: #bfbfbf 0px 0px 12px 2px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form-group {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}

form h2 {
    color: #160F29;
    font-family: 'Aclonica';
}

label{
    color:#FF8676;
    font-family: 'Poiret One';    
}

.line-input{
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #FF8676;
    transition: all ease-in-out 0.3s;
    font-family: 'Poiret One';
    outline: none;
    width: 90%;
}

.line-input:focus{
    outline: none;
    transform: scaleX(1.1);
    transition: all ease-in-out 0.3s;
}

#login p{
    font-size: 0.95rem;
    text-align: center;
    font-family: 'Poiret One';
    color: #454545;
}

#login p a{
    text-decoration: underline;
    color: #FF8676;
    cursor: pointer;
}

.box-input{
    border: 2px solid #FF8676;
    border-radius: 0px;
    width: 90%;
    height: 100px;
    transition: all ease-in-out 0.3s;
    font-family: 'Poiret One';
}

.box-input:focus{
    outline: none;
    transform: scaleX(1.1);
    transition: all ease-in-out 0.3s;
}

/* profile */
#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile img{
    width: 300px;
    border-radius: 50%;
    box-shadow: #bfbfbf 0px 0px 10px 2px;
    margin-bottom: 20px;
}

#profile h2{
    font-family: 'Aclonica';
    margin-bottom: -0.3rem;
}

#name{
    margin-bottom: -0.3rem;
    font-family: 'Poiret One';
    color:#37718E
}

#misc{
    font-family: 'Poiret One';
    color: #37718E;
}

#misc span{
    margin: 0px 5px;
}

#bio {
    font-family: 'Poiret One';
    font-size: 1.2rem;
    margin-top: 0px;
}

#profile a{
    width:200px;
    text-decoration: none;
    text-align: center;
}

