{% extends 'layout/layout.html' %}

{% block title %}
SafeSpace
{% endblock %}

{% block main %}
<div id="landing">
    <div>
        Mental health matters. A safe space for all your troubles.
    </div>
    <a href="/feed/discover" class="btn btn-primary">Discover</a>
</div>
<img src={{ url_for('static', filename="Landing.jpg") }} alt="Mental Health" id="landing-img">
{% endblock %}

{% block footer %}
<a href='https://www.freepik.com/vectors/background'>Landing image created by rawpixel.com - www.freepik.com</a>
{% endblock %}
